.form {
}

.form__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
  margin: 0;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  padding: 20px 0 30px 0;
  display: grid;
  grid-template-columns: 350fr 350fr 336fr;
  place-items: start stretch;
  gap: 30px 40px;
}

.form__field {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form__field_full-width {
  grid-column: 1 / -2;
}

.form__label {
  flex: 0 0 auto;
  padding: 16px 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(67, 83, 255, 0.3);
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  color: rgba(67, 83, 255, 0.6);
  background-color: transparent;
  transition: all 0.2s ease-out;
}

.form__label_for_textarea {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
}

.form__input {
  width: 100%;
  padding: 16px 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgba(67, 83, 255, 0.3);
  background-color: transparent;
  transition: all 0.2s ease-out;
}

.form__input_type_textarea {
  border-radius: 5px;
  padding-top: 45px;
  min-height: 130px;
}

.form__input:focus {
  border-color: rgba(67, 83, 255, 0.8);
  outline: 0;
}

.form__input:focus + .form__label {
  color: rgba(67, 83, 255, 1);
}

.form__input-tooltip {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  opacity: 0.3;
}

.form__input-tooltip_pos_bot-right {
  right: 15px;
  bottom: 11px;
}

.form__input-tooltip_pos_center-right {
  bottom: 50%;
  right: 15px;
  translate: 0 50%;
}

.form__description {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.form__description::before {
  content: "";
  height: 25px;
  width: 1px;
  background-color: rgba(67, 83, 255, 0.3);
  margin-left: 10px;
}

.form__description-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: #989898;
  margin: 0;
}

@media (max-width: 1200px) {
  .form__fieldset {
    grid-template-columns: 1fr;
  }
}
