.app {
  min-height: 400px;
  display: grid;
  grid-template:
    "menu ." 30px
    "menu content" max-content
    "menu ." 30px
    / minmax(100px, max-content) auto;
}

.app__content {
  background-color: white;
  color: #4353ff;
}
